<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestProyecto2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestProyecto2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto #2 - 3101</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="navbar-nav flex-grow-1"> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pantalla Principal</a>
                        </li>

                        <li class="navbar-nav flex-grow-1" >
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownmenu" role="button" data-bs-toggle="dropdown">
                                    <span>Formularios de procesos</span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                                    <a class="dropdown-item" asp-area=""  asp-controller="Transportista" asp-action="RegistrarTransportista">Registrar Transportista</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Cliente" asp-action="RegistrarCliente">Registrar Cliente</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Articulo" asp-action="RegistrarIngreso">Ingresar Articulo</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Articulo" asp-action="RegistrarRetiro">Retirar Articulo</a>
                                </div>
                            </div>
                        </li>

                        <li class="navbar-nav flex-grow-1">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownmenu" role="button" data-bs-toggle="dropdown">
                                    <span>Reportes</span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                                    <a class="dropdown-item" asp-area=""  asp-controller="Transportista" asp-action="Index">Lista de Transportistas</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Cliente" asp-action="Index">Lista de Clientes</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Articulo" asp-action="Index">Lista de Articulos Almacenados</a>
                                    <a class="dropdown-item" asp-area=""  asp-controller="Articulo" asp-action="IndexRetiros">Lista de Articulos retirados</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <a> &copy; 2022 - Proyecto 2 - 3101</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
